<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="<%= assetsPath %>/main.css" />
    <title>React Example</title>
    
    <!-- This next line is what actually makes sure we can send information from backend to frontend -->
    <script>window.__APP_CONTEXT__ = JSON.parse(JSON.parse(decodeURI("<%- encodeURI(JSON.stringify(context)); %>")));</script>
</head>
<body>
    <!-- The body will initially be the server-side rendered version of the app, which is later hydrated -->
    <div id="<%= containerId %>"><%- body %></div>
    <script src="https://unpkg.com/react@<%= reactVersion %>/umd/react<%= suffix %>"></script>
    <script src="https://unpkg.com/react-dom@<%= reactDomVersion %>/umd/react-dom<%= suffix %>"></script>
    <script src="<%= assetsPath %>/bundle.js"></script>
</body>
</html>